version: "3.9"
services:
  app:
    build:
      context: .
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - PORT=4000
      - WEB_DIST=/app/frontend/dist
    restart: unless-stopped
